body {
    background: linear-gradient(0deg, #2b354b 0%, #252d40 90%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}


/*----------Shapes------------*/

.about_shape {
}

.github_shape {
    border-radius: 0px 20px 20px 0px;
    background: linear-gradient(270deg, #353344 0%, #282633 90%);
    height: 500px;
}

/*----------End Shapes------------*/
#Top {
    height: 200px;
    position: relative;
}

#Home {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 90%;
}

#About {
    height: 200px;
    position: relative;
    margin-top: 50px;
}

#GitHub {
    height: 500px;
    position: relative;
    margin-top: 50px;
}

.title {
    color: ghostwhite;
    font-size: 50px;
    text-align: left;
    width: 100%;
}

#about_container {
    position: absolute;
    right: 0;
    width: 90%;
}

#Portrait {
    
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .grid-item {

  }

#github_container {
    width: 90%;
}


.left {
    text-align: left;
}

.right {
    text-align: right;
    padding-right: 40px;
}

h1 {
    color: white;
    padding-left: 0px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color: white;
    padding-right: 0px;
    letter-spacing: 1px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
/*
h1:hover {
    transition: transform 1s;
	transform: scale(1.1);
    transform-origin: center;
}
*/    

p {
    color: #75747c;
    padding-left: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.footer_font {
    color: ghostwhite;
}

.form_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

label {
    color: white;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]:hover {
    background-color: darkturquoise;
    transform: scale(1.1);
    transition: transform 1.5s;
}