body {
    background: url(../images/Background.png) no-repeat 50% 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}

/*----------Shapes------------*/

.stripe_shape {
    margin-top: -100px;
    margin-bottom: -100px;
    position: relative;
    height: 20vh;
    min-height: calc(140px + 6vw);
    width: 100%;
    overflow: visible;
    background: rgba(255, 255, 255, 0.4);
    clip-path: polygon(0 15vw, 100% 0%, 100% calc(100% - 15vw), 0 100%);
}

.about_shape {
    margin-top: 50px;
    margin-bottom: -75px;
    position: relative;
    height: 50vh;
    min-height: calc(140px + 6vw);
    width: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.4);
    clip-path: polygon(0 0vw, 100% 0%, 100% calc(100% - 15vw), 0 100%);
}

.github_shape {
    margin-top: -75px;
    margin-bottom: 0px;
    position: relative;
    height: 50vh;
    min-height: calc(140px + 6vw);
    width: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.4);
    clip-path: polygon(0 15vw, 100% 0%, 100% 100%, 0 100%);
}

.footer_shape {
    margin-top: 0px;
    margin-bottom: -58px;
    position: relative;
    height: 20vh;
    min-height: calc(20px + 6vw);
    width: 100%;
    overflow: hidden;
    background-color: rgb(6, 31, 28, 0.75);
    background-size: 100%;
    clip-path: polygon(
      0 0,
      100% 3vw,
      100% 100%,
      0 100%
    );
}
/*----------End Shapes------------*/
.title {
    color: ghostwhite;
}

.Navbar {
    top: 0;
    background-color: black;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 37px;
}
.Navbar a {
    font-size: 30px;
    padding: 0px 16px;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
}

.Navbar a.active {
    background-color: darkgray;
}

.title {
    margin-top: 50px;
}

.about_container {
    
}

.github_container {
    margin-top: 100px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    padding-right: 40px;
}

h1 {
    padding-left: 20px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
/*
h1:hover {
    transition: transform 1s;
	transform: scale(1.1);
    transform-origin: center;
}
*/    

p {
    padding-left: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.footer_font {
    color: ghostwhite;
}

.form_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]:hover {
    background-color: darkturquoise;
    transform: scale(1.1);
    transition: transform 1.5s;
}