body {
    background: linear-gradient(0deg, #2d3755 0%, #232b42 90%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}


/*----------Shapes------------*/

.stripe_shape {
    margin-top: -100px;
    margin-bottom: -100px;
    position: relative;
    height: 20vh;
    min-height: calc(140px + 6vw);
    width: 90%;
    overflow: visible;
    background: rgba(255, 255, 255, 0.4);
    clip-path: polygon(0 15vw, 100% 0%, 100% calc(100% - 15vw), 0 100%);
}

.about_shape {
    border-radius: 0px 20px 20px 0px;
    height: 50vh;
    width: 90%;
    background: linear-gradient(270deg, #353344 0%, #282633 90%);
}

.github_shape {
    position: relative;
    height: 50vh;
    min-height: calc(140px + 6vw);
    width: 75%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.4);
}

.footer_shape {
    margin-top: 0px;
    margin-bottom: -58px;
    position: relative;
    height: 20vh;
    min-height: calc(20px + 6vw);
    width: 100%;
    overflow: hidden;
    background-color: rgb(6, 31, 28, 0.75);
    background-size: 100%;
    clip-path: polygon(
      0 0,
      100% 3vw,
      100% 100%,
      0 100%
    );
}
/*----------End Shapes------------*/
#Top {
    height: 140px;
    position: relative;
}

#Home {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title {
    color: ghostwhite;
    text-align: center;
    width: 100%;
}


.github_container {
    margin-top: 100px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    padding-right: 40px;
}

h1 {
    color: white;
    padding-left: 20px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
/*
h1:hover {
    transition: transform 1s;
	transform: scale(1.1);
    transform-origin: center;
}
*/    

p {
    color: #75747c;
    padding-left: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.footer_font {
    color: ghostwhite;
}

.form_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]:hover {
    background-color: darkturquoise;
    transform: scale(1.1);
    transition: transform 1.5s;
}